@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat';
    overflow: hidden;
}

.navbar {
    background: #2b3d4f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo-text{
    color: #fff;
}

.menu-toggle{
    position: relative;
    padding: 10px 0;
    float: right;
    z-index: 2;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-toggle .bar{
    display: block;
    height: 2px;
    background-color: #16c0f0;
}
.menu-toggle .bar:first-child{
    width: 30px;
    margin: auto;
}
.menu-toggle .bar:nth-child(2) {
    margin: 6px 0;
    width: 24px;
    margin-left: 6px;
}

#particles-js{
    background: linear-gradient(
        0deg
        , rgb(12 1 1), rgb(43 61 79 / 80%)), url(../images/welcomebanner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.particles-js-canvas-el{
    position: absolute;
}

.intro{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.intro .typed {
    max-width: fit-content;
    font-family: 'Courier Prime', monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #16c0f0; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-right-color: transparent }
    50% { border-right-color: #16c0f0; }
  }

.intro h1{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.intro h3{
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 50px;
}


/* BUTTONS */
.home .intro .main-btn {
    margin: 0 10px;
    min-width: 160px;
}
.main-btn {
    display: inline-block;
    min-width: 145px;
    background: transparent;
    color: #16c0f0;
    border: 1px solid #16c0f0;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    border-radius: 50px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    z-index: 9999;
}
.main-btn:hover{
    color: #fff;
    background-color: #16c0f0;
    border: 1px solid #16c0f0;
}
.custom-btn {
    background: #16c0f0;
    color: #fff;
    border: 1px solid #16c0f0;
    margin-right: 20px;
}

.welcome-socials{
    position: absolute;
    top: 50%;
    left: 45px;
    color: #fff;
}
.welcome-socials::before{
    content: 'Follow Me';
    position: absolute;
    top: -130px;
    left: -36px;
    font-size: 13px;
    display: block;
    color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.welcome-socials::after{
    content: '';
    position: absolute;
    top: -65px;
    left: 7px;
    width: 2px;
    height: 52px;
    background: rgba(22, 192, 240, .6);
}

.welcome-socials li{
    margin-bottom: 5px;
}
.welcome-socials li a {
    color: #fff;
    transition: all .3s ease;
}
.welcome-socials li a:hover{
    color: #16c0f0;
}


/* FullPage Navigation */ 

#fp-nav ul li a span {
    background: #16c0f0 !important;
}

/*********************************/
/******* ABOUT ME PAGE ***********/
/*********************************/

.about-me {
    background-color: rgb(43, 61, 79);
    color: #fff;
}

.about-me .about-image {
    padding: 7px;
    background: linear-gradient(-50deg, rgba(170, 170, 170, .1) 45%, transparent 25%);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.main-title {
    margin-bottom: 60px;
    position: relative;
    display: inline-block;
}

.main-title h2 {    
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: .7px;
    line-height: 1;
    margin: 0;
}

.main-title h2:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 1px;
    background: transparent linear-gradient(to right, transparent, #1cb8ee, transparent) repeat scroll 0 0;
}

.main-title h2:after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #25aceb;
    -webkit-transition: all .7s cubic-bezier(.47, 0, .745, .715);
            transition: all .7s cubic-bezier(.47, 0, .745, .715);
    -webkit-animation: pulse2 1s infinite cubic-bezier(.66, 0, 0, 1);
            animation: pulse2 1s infinite cubic-bezier(.66, 0, 0, 1);
    -webkit-box-shadow: 0 0 0 0 rgba(22, 192, 240, .6);
            box-shadow: 0 0 0 0 rgba(22, 192, 240, .6);
}

@-webkit-keyframes pulse2
{
    to
    {
        -webkit-box-shadow: 0 0 0 4px rgba(22, 192, 240, 0);
                box-shadow: 0 0 0 4px rgba(22, 192, 240, 0);
    }
}

@keyframes pulse2
{
    to
    {
        -webkit-box-shadow: 0 0 0 4px rgba(22, 192, 240, 0);
                box-shadow: 0 0 0 4px rgba(22, 192, 240, 0);
    }
}

.about-me .about-info h3 {
    color: #f0f0f0;
    font-size: 31px;
    font-weight: 600;
    letter-spacing: .3px;
    line-height: 1.2;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
.about-me .about-info h5 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #16c0f0;
}

.about-me .about-info > p {
    color: #c7c5c7;
    line-height: 1.8;
    font-weight: 400;
    padding-bottom: 25px;
    margin-bottom: 0;
    letter-spacing: .3px;
}
.about-me .about-info > p:first-of-type {
    padding-bottom: 10px;
}
.about-me .about-info > p:last-of-type {
    border-bottom: 1px solid #263340;
}

.about-me .about-info .personal-info {
    padding: 25px 0;
    border-top: 1px solid #374757;
}

.about-me .about-info .personal-info p{

    font-weight: 600;
    color: #16c0f0;
    margin-bottom: 12px;
    font-size: 14px;
}
.about-me .about-info .personal-info p span {
    color: #c7c5c7;
    font-weight: 400;
}

/******************************************/
/************** MY EDUCATION **************/
/******************************************/

.resume{
    z-index: 6;
    background-color: rgb(38, 52, 70);
}
.resume .container{
    padding: 100px 0;
}

.resume .timeline {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 100%;
}

.resume .timeline ul {
    padding: 0;
    padding-top: 40px;
    margin-bottom: 0;
    overflow: hidden;
}

.resume .timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 5px;
    height: 95%;
    background: linear-gradient(to bottom, transparent, #3e5065, transparent);
    box-shadow: 0 4px 10px rgb(38 52 70 / 70%);
    display: block;
}
.resume .timeline ul li {
    position: relative;
    overflow: hidden;
}

.resume .timeline ul li:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 9999;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #2c3c4f;
    border: 2px solid #25aceb;
    -webkit-transition: all .7s cubic-bezier(.47, 0, .745, .715);
    transition: all .7s cubic-bezier(.47, 0, .745, .715);
    -webkit-animation: pulse2 1s infinite cubic-bezier(.66, 0, 0, 1);
    animation: pulse2 1s infinite cubic-bezier(.66, 0, 0, 1);
    -webkit-box-shadow: 0 0 0 0 rgb(22 192 240 / 60%);
    box-shadow: 0 0 0 0 rgb(22 192 240 / 60%);
}

.resume .timeline ul li:hover:before {
    background-color: #25aceb;
    border: none;
}

.resume .timeline ul li .timeline-content {
    position: relative;
    width: 47%;
    background: #2B3D4F;
    text-align: center;
    border: 3px solid #374757;
    box-shadow: 0 4px 5px rgb(37 50 66 / 70%);
    margin-bottom: 35px;
}
.resume .timeline ul li:nth-child(odd) .timeline-content {
    float: left;
    clear: both;
}
.resume .timeline ul li:nth-child(even) .timeline-content {
    float: right;
    clear: both;
}

.resume .timeline ul li .timeline-content .timeline-icon {
    position: absolute;
    top: 45px;
    left: 11px;
    font-size: 78px;
    transform: rotate(-30deg);
    opacity: .12;
    color: #5e7184;
}

.resume .timeline ul li .timeline-content h4 {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    letter-spacing: .5px;
    text-transform: capitalize;
    color: #16c0f0;
}

.resume .timeline ul li .timeline-content p:first-of-type {
    color: #c7c5c7;
    letter-spacing: .7px;
    font-size: 13px;
    margin: 0 20px 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #374757;
}

.resume .timeline ul li .timeline-content p:first-of-type i {
    margin-right: 6px;
    font-size: 12px;
}

.resume .timeline ul li .timeline-content .text {
    color: #c7c5c7;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    text-align: left;
    padding: 0 20px 15px;
    margin: 0;
}

.portfolio{
    background-color: #2B3D4F;
}



.pf-item{
    position: relative;
}
.pf-item-screen {
    display: block;
    /* width: 300px; */
    height: 350px;
    overflow: hidden;
    position: relative;
    /* border: 2px solid #b3b3b3; */
    border-radius: 70px;
    margin: 0 auto;
}

.pf-card-inner{
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(2 1 2 / 73%)),
    url(../images/portfolio-imgs/flower-power.jpg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: left center; 
}

.pf-card-inner h3{
    color: white;
    font-size: 32px;
}

@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}

.pf-item-screen:hover .pf-card-inner h3{
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
.pf-item-screen .overlay{
    position: absolute;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    background-color: #5e7184d1;
    z-index: 2;
    transition: all .9s ease;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 0;
}
.pf-item-screen:hover .overlay{
    height: 100%;
}
.pf-item-screen .overlay .item-title{
    text-align: center;
}
.pf-item-screen .overlay .item-title p{
    color: #fff;
    margin-bottom: 0;
}
.pf-item-screen .overlay .item-title h3{
    color: #fff;
    line-height: 1.2;
    margin-bottom: 15px;
}

.pf-item-screen .overlay .item-icons a {
    display: inline-block;
    width: 43px;
    height: 43px;
    line-height: 43px;
    margin: 0 8px;
    background-color: #16c0f0;
    border: 1px solid #16c0f0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
}

.pf-card-inner.flower-power{
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgb(2 1 2 / 73%)),
    url(../images/portfolio-imgs/flower-power.jpg);
}
.pf-card-inner.gbm-group{
    background-image: 
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(57, 61, 3, 0.73)),
    url(../images/portfolio-imgs/gbm-group.jpg);
}